body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    background-color: #333;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 4px;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

#app {
    padding: 20px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
}

#fileInputSection, #participantSelectionSection, #results, #activeHoursSection {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="file"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

p {
    font-size: 1.2em;
    margin: 10px 0;
}

canvas {
    max-width: 100%;
    height: auto;
}

#results h2, #activeHoursSection h2 {
    font-size: 2em;
    margin-bottom: 10px;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 5px;
}

.hidden {
    display: none;
}

.stat {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.stat.visible {
    opacity: 1;
}